<div class="form-group">
    <form [formGroup]="addressFormGroup" novalidate>
        <ng-container formArrayName="addresses">
            <ng-container *ngFor="let address of addresses.controls; let i = index">
                <label [for]="'address' + i">Address {{i}}</label>
                <input [id]="'address' + i" [placeholder]="'Address ' + i" class="form-control" [formControlName]="i">
            </ng-container>
        </ng-container>

        <label for="country">Country</label>
        <select id="country" formControlName="country" class="form-control">
            <option [value]="c.code" *ngFor="let c of countries">{{c.name}}</option>
        </select>

        <label for="state">State</label>
        <select id="state" formControlName="state" class="form-control">
            <option [value]="s.code" *ngFor="let s of states">{{s.name}}</option>
        </select>

        <label for="city">City</label>
        <input id="city" placeholder="City" class="form-control" formControlName="city">

        <label for="pin">PIN</label>
        <input id="pin" placeholder="Pin" class="form-control" formControlName="pin">
    </form>
</div>