<div class="container col-md-offset-3 col-md-6">
    <ng-container *ngIf="isUnified; else nonUnified">
        <div class="sub-container">
            <ak-google-address [addressFormGroup]="addressFormGroup" [showMap]="showMap" [initialLocation]="initialLocation"></ak-google-address>
            <ak-manual-address [addressFormGroup]="addressFormGroup"></ak-manual-address>
        </div>
    </ng-container>
    <ng-template #nonUnified>
        <ul class="nav nav-pills">
            <li [ngClass]="{'active': selectedTab == mAddressTabs.GOOGLE}">
                <a (click)="selectedTab = mAddressTabs.GOOGLE">Google Input</a>
            </li>
            <li [ngClass]="{'active': selectedTab == mAddressTabs.MANUAL}">
                <a (click)="selectedTab = mAddressTabs.MANUAL">Manual Input</a>
            </li>
        </ul>
        <div [ngSwitch]="selectedTab" class="sub-container">
            <ak-google-address *ngSwitchCase="mAddressTabs.GOOGLE" [addressFormGroup]="addressFormGroup" [showMap]="showMap" [initialLocation]="initialLocation"></ak-google-address>
            <ak-manual-address *ngSwitchCase="mAddressTabs.MANUAL" [addressFormGroup]="addressFormGroup"></ak-manual-address>
        </div>
    </ng-template>
    <output>{{addressFormGroup.value | json}}</output>
</div>